/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu+Mono&display=swap');

/* Tags */
body.lightMode {
    --bg-color: #ebe3c9;
    --text-color: #0f0f0f;
}

body.darkMode {
    --bg-color: #0f0f0f;
    --text-color: #ebe3c9;
}

body {
    --accent-color: #a20191;
    --error-color: #d32150;
    --alert-color: #9fb13c;

    background-color: var(--bg-color);
    transition: background-color 0.25s ease-in-out;

    margin: 0;
}

h1, h2, h3, h4, h5, h6, p { transition: color 0.25s ease-in-out; }

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);

    font-family: 'Ubuntu Mono';
}

h1 {
    border-bottom: solid thick var(--accent-color);
}

h2, h3 {
    border-left: solid thick var(--accent-color);
    padding-left: 0.5rem;
}

p {
    color: var(--text-color);

    font-family: 'Titillium Web';
}

main {
    margin: 1rem;
}

header {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 4rem;
    max-height: 4rem;

    display: grid;
    grid-template-columns: 20fr 80fr;

    background-color: var(--accent-color);
}

header > #mobileNavButton {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / span 1;

    width: 100%;
    height: 4rem;
}

header > #mobileNavButton > img{
    object-fit: contain;

    width: 75%;
    height: 75%;
}

header > #logo {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 2 / span 1;

    width: 100%;
    height: 4rem;
}

header > #logo > img {
    object-fit: contain;

    width: 90%;
    height: 90%;
}

header > nav {
    display: block;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;

    overflow-x: scroll;

    background-color: var(--accent-color);
}

header > nav a, header > nav h1 {
    color: #ebe3c9;
    text-decoration: none;
}

/* classes */

.navItem {

}

.navItem > .navHeader {
    display: flex;
    flex-direction: row;

    border-bottom: solid medium #ebe3c9;
}

.navItem > .navHeader > * {
    margin: 1rem;
}

.navItem > .navHeader > .navTitle {
    flex: 1;
}

.navItem > .navHeader > .dropDownArrow {
    transition: transform 0.25s ease-in-out;
}

.navItem > .navBody {
    width: 100%;
    height: 0px;

    overflow: hidden;

    transition: height 0.25s ease-in-out;
}

.navItem > .navBody > ul {
    list-style-type: none;
}

.navItem > .navBody > ul > li {
    border-bottom: solid thin #ebe3c9;
}

.navItem.active > .navHeader > .dropDownArrow {
    transform: rotate(90deg);
}