/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu+Mono&display=swap');

/* Tags */
body.lightMode {
    --bg-color: #ebe3c9;
    --text-color: #0f0f0f;
}

body.darkMode {
    --bg-color: #0f0f0f;
    --text-color: #ebe3c9;
}

body {
    --accent-color: #a20191;
    --error-color: #d32150;
    --alert-color: #9fb13c;

    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);

    font-family: 'Ubuntu Mono';
}

h1 {
    border-bottom: solid thick var(--accent-color);
}

h2, h3 {
    border-left: solid thick var(--accent-color);
}

p {
    color: var(--text-color);

    font-family: 'Titillium Web';
}